@{
    Layout = null;
}
@Styles.Render("~/bootstrap/css")
@Styles.Render("~/LayUI/layuicss")
<style>
    .layui-btn {
        margin-left:10px;
    }
</style>
<div class="demoTable">
    搜索名称：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="employeeName" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload" id="search" onclick="search();">搜索</button>
    <button class="layui-btn " onclick="Add();"><i class="layui-icon layui-icon-add-1"></i></button>
    <button data-method="setTop" class="layui-btn" id="import"><i class="layui-icon"></i>批量导入</button>
</div>
<table class="layui-hide" id="table" lay-filter="table"></table>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type='text/javascript' src='~/Scripts/bootstrap.js'></script>
<script type='text/javascript' src='~/Scripts/respond.js'></script>
<script type='text/javascript' src='~/LayUI/layui.js'></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
    </div>
</script>
<script type="text/html" id="barDemo">
    @*<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>*@
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var count = 0;
    layui.use('table', getList);

    function search() {
        getList();
    }

    function getList() {
        var table = layui.table;
        var name = document.getElementById("employeeName").value;
        // + '&pageIndex=' + pageIndex + '&pageSize=' + pageSize + '&pageIndex=' + pageIndex + '&pageSize=' + pageSize
        table.render({
            elem: '#table'
            , url: '/Employee/List?name=' + name
            , method: 'get'
            , toolbar: '#toolbarDemo'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , loading: true
            , page: true
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
             , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }, response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 0 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , limits: [10, 20, 50, 100, 1000, 10000, 1000000]
            , cols: [[
                { field: 'EmployeeID', title: 'ID', width: 0, hide: true }//style: 'display:none;'
                , { field: 'EmployeeName', width: 180, title: '姓名', sort: true }
                , { field: 'Sex', width: 100, title: '性别', sort: true }
                , { field: 'EmployeeNumber', width: 120, title: '编号', sort: true }
                , { field: 'Phone', title: '手机号', width: 140 }
                , { field: 'DepartmentName', title: '部门' }
                , { field: 'FunctionalgroupName', title: '功能组' }
                , { field: 'HireTime', width: '20%', minWidth: 100, title: '入职时间', sort: true }
                , { fixed: 'right', width: 178, align: 'center', title: '操作', toolbar: '#barDemo' }
            ]]
        });

        //监听工具条
        table.on('tool(table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.EmployeeID + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('确定删除吗？', function (index) {
                    Del(data.EmployeeID);
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                console.log(JSON.stringify(data));
                location.href = '/Employee/EmployeeDetail?obj=' + JSON.stringify(data);
                //var param = "1";
                //RedirectToRoute(new { controller: "QuestionnaireMGT", action: "QuestionnaireDetail", id: 123 });
                //layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });

    }

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
        , layer = layui.layer
        , layedit = layui.layedit
        , laydate = layui.laydate;

        $("#import").on("click", function () {
            var that = this;
            //多窗口模式，层叠置顶
            layer.open({
                type: 2 //此处以iframe举例
              , title: '批量导入'
              , area: ['258px', '258px']
              , shade: 0
              , offset: 't'
              , content: '/Import/Index?name=Employee'
              , yes: function () {
                  $(that).click();
              }
              , zIndex: layer.zIndex //重点1
              , success: function (layero) {
                  
              }
            });
        })

    })

  

    function Add() {
        location.href = '/Employee/EmployeeDetail';
    }

    function Del(id) {
        $.ajax({
            dataType: 'JSON',
            type: "post",
            url: "/Employee/Del?id=" + id,
            success: function (data) {
                layer.msg(data.msg);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        })
    }
</script>
