@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/LayUI/layui.css" />
<style>
    .layui-form-label {
        width:80px;
        margin-bottom:0px;
        padding:9px 0;
        vertical-align:central;
        text-align:left;
    }
    .layui-input-block {
        margin-left: 80px;
    }
    .layui-btn {
        margin-left:10px;
    }
    .qtype {
        margin-left:10px;
    }
</style>
    <form class="layui-form" action="">
        <div class="demoTable">
            <div class="layui-inline">
                <label class="layui-form-label">搜索标题：</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="id" id="QuestionnaireName" autocomplete="off" placeholder="请输入标题">
                </div>
            </div>
            <div class="layui-inline qtype">
                <label class="layui-form-label">问卷类型：</label>
                <div class="layui-input-block">
                    <select name="QuestionnaireTypeID" id="selectQuestionnaireType" lay-filter="selectQuestionnaireType" lay-search="">
                        @*<option value="">请选择</option>*@                         
                    </select>
                </div>
            </div>
            <button class="layui-btn" type="button" data-type="reload" onclick="search();">搜索</button>
            <button class="layui-btn " type="button" onclick="Add();"><i class="layui-icon layui-icon-add-1"></i></button>
        </div>
    </form>
    <table class="layui-hide" id="table" lay-filter="table"></table>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type='text/javascript' src='~/Scripts/bootstrap.js'></script>
    <script type='text/javascript' src='~/Scripts/respond.js'></script>
    <script type='text/javascript' src='~/LayUI/layui.js'></script>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
        </div>
    </script>
    <script type="text/html" id="barDemo">
        @*<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>*@
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>

        

        $.ajax({
            dataType: 'JSON',
            type: "Get",
            url: "/QuestionnaireType/List?name=&pageSize=10000000&pageIndex=1",
            success: function (data) {
                var select = false;
                $('#selectQuestionnaireType').append(new Option("请选择", "00000000-0000-0000-0000-000000000000", true, true))
                $.each(data.data, function (index, item) {
                    $('#selectQuestionnaireType').append(new Option(item.QuestionnaireTypeName, item.QuestionnaireTypeID, select, select));//往下拉菜单里添加元素
                })
                layui.use(['table', 'form'], getList);
            }
        });

        function search() {
            getList();
        }

        function getList() {
            var form = layui.form
            var table = layui.table;
            var name = $("#QuestionnaireName").val();
            var typeId = $("#selectQuestionnaireType").val();
            var pageIndex = 1;
            var pageSize = 10;
            //监听工具条
            table.on('tool(table)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    layer.msg('ID：' + data.QuestionnaireID + ' 的查看操作');
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        Del(data.QuestionnaireID);
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    console.log(JSON.stringify(data));
                    location.href = '/QuestionnaireMGT/QuestionnaireDetail?obj=' + JSON.stringify(data);
                    //var param = "1";
                    //RedirectToRoute(new { controller: "QuestionnaireMGT", action: "QuestionnaireDetail", id: 123 });
                    //layer.alert('编辑行：<br>' + JSON.stringify(data))
                }
            });
            
            table.render({
                elem: '#table'
                , url: '/QuestionnaireMGT/List?name=' + name + '&typeId=' + typeId
                , toolbar: '#toolbarDemo'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , loading: true
                , page: true
                , request: {
                    pageName: 'pageIndex' //页码的参数名称，默认：page
                 , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }, response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 0 //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , limits: [10, 20, 50, 100, 1000, 10000, 1000000]
                , cols: [[
                    { field: 'QuestionnaireID', title: 'ID', width: 0, hide: true }//style: 'display:none;'
                    , { field: 'QuestionnaireName', width: 240, title: '名称' }
                    , { field: 'QuestionnaireTypeName' , title :'问卷类型' }
                    , { field: 'Version', width: 100, title: '版本', sort: true }
                    , { field: 'Describe', width: '20%', minWidth: 100, title: '描述' }
                    , { field: 'CreateTime', title: '创建时间', sort: true, }
                    , { field: 'StartTime', title: '开始时间', width: 120, sort: true, }
                    , { field: 'EndTime', title: '结束时间', width: 120, sort: true, }
                    , { field: 'IsRelation', width: 100, title: '关联人员' }
                    , { field: 'State', width: 120, title: '状态', sort: true }
                    , { fixed: 'right', width: 178, align: 'center', title: '操作', toolbar: '#barDemo' }
                ]]
                , page: true
            });
        }

        function Add() {
            location.href = '/QuestionnaireMGT/QuestionnaireDetail';
        }

        function Del(id) {
            $.ajax({
                dataType: 'JSON',
                type: "post",
                url: "/QuestionnaireMGT/Del?id=" + id,
                success: function (data) {
                    layer.msg(data.msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            })
        }
    </script>
